In [2]:
import pandas as pd
print('Version: ',pd.__version__)

Version:  2.2.3

In [11]:
list=[1,12,13,14,5,16,7,8]
myseries=pd.Series(list)
print (myseries)
print("Element at index 3 is: ",myseries[3])

0     1
1    12
2    13
3    14
4     5
5    16
6     7
7     8
dtype: int64
Element at index 3 is:  14

In [12]:
#lets create own labels
myli=[1,14,12,13,16,17,31]
series=pd.Series(myli,index=["a","b","c","d","e","f","g"])
print(series)

a     1
b    14
c    12
d    13
e    16
f    17
g    31
dtype: int64

In [17]:
#Dictionary Data
employee= {
    "id":1,
    "name":"Aarushi",
    "email":"arushidhiman3110@gmail.com",
    "address":"Pune",
    "Salary":99999
}
data=pd.Series(employee)
print(data)
print("id", data["id"])
print("name",data["name"])

id                                  1
name                          Aarushi
email      arushidhiman3110@gmail.com
address                          Pune
Salary                          99999
dtype: object
id 1
name Aarushi

In [20]:
#Dataframe:2D tabular structure 
sample= {
    "id":[1,2,3,4],
    "name":["aarushi","pari","gugu","dugu"]
}
df=pd.DataFrame(sample)
print(df)

   id     name
0   1  aarushi
1   2     pari
2   3     gugu
3   4     dugu

In [26]:
sample= {
    "id":[1,2,3,4],
    "name":["aarushi","pari","gugu","dugu"]
}
df=pd.DataFrame(sample)
print(df)

#you want to get the row then use loc attribute
print(" ")
print("First row is: ")
print(df.loc[0])

print(" ")
#print first 2 rows
print("First 2 rows: ")
print(df.loc[[0,1]])


# print individual value
print("Value at (0,1) is: ")
print(df.iloc[0,1])

   id     name
0   1  aarushi
1   2     pari
2   3     gugu
3   4     dugu

First row is:
id            1
name    aarushi
Name: 0, dtype: object

First 2 rows:
   id     name
0   1  aarushi
1   2     pari
Value at (0,1) is:
aarushi

In [29]:
#Creating dataframe from list of lists

data=[ 
    ["aarushi",21,"UK"],
    ["Sagar",25,"UK"],
    ["Aada",16,"US"],
    ["Pari",12,"US"],
    ["Dugu",1,"Denmark"]
     ]

df=pd.DataFrame(data,columns=["Name","Age","City"])
print(df)

      Name  Age     City
0  aarushi   21       UK
1    Sagar   25       UK
2     Aada   16       US
3     Pari   12       US
4     Dugu    1  Denmark

In [33]:
student_data = pd.read_csv('student_data.csv')
print(student_data)

     id                 name                           email  gender  grade
0     1       Wanda Ciepluch             wciepluch0@narod.ru  Female    5.2
1     2         Darsie Olwen             dolwen1@vinaora.com  Female    3.2
2     3          Von Seagood       vseagood2@accuweather.com    Male    9.5
3     4    Griswold Attawell            gattawell3@lycos.com    Male    7.8
4     5       Janel Martinet         jmartinet4@google.co.uk  Female    3.2
..  ...                  ...                             ...     ...    ...
95   96     Sarajane Elnaugh             selnaugh2n@ucsd.edu  Female    4.2
96   97       Blanch Cratere    bcratere2o@sciencedirect.com  Female    7.4
97   98  Barbie Barszczewski  bbarszczewski2p@eventbrite.com  Female    3.5
98   99        Raoul Beacham          rbeacham2q@gizmodo.com    Male    1.7
99  100    Filbert McGifford       fmcgifford2r@sakura.ne.jp    Male    5.9

[100 rows x 5 columns]

In [35]:
#Directly taking tabular structure
student_data.head(10)

   id               name                      email      gender  grade
0   1     Wanda Ciepluch        wciepluch0@narod.ru      Female    5.2
1   2       Darsie Olwen        dolwen1@vinaora.com      Female    3.2
2   3        Von Seagood  vseagood2@accuweather.com        Male    9.5
3   4  Griswold Attawell       gattawell3@lycos.com        Male    7.8
4   5     Janel Martinet    jmartinet4@google.co.uk      Female    3.2
5   6      Jennie D'Acth            jdacth5@ibm.com      Female    2.4
6   7        Flossy Hane           fhane6@webmd.com    Bigender    2.5
7   8         Jorry Offa             joffa7@soup.io      Female    9.6
8   9      Cathe Benford         cbenford8@1und1.de  Polygender    8.3
9  10  Roland Blackaller         rblackaller9@is.gd        Male    4.4

In [38]:
#To see all data in the dataset

print(student_data.to_string())

     id                    name                               email       gender  grade
0     1          Wanda Ciepluch                 wciepluch0@narod.ru       Female    5.2
1     2            Darsie Olwen                 dolwen1@vinaora.com       Female    3.2
2     3             Von Seagood           vseagood2@accuweather.com         Male    9.5
3     4       Griswold Attawell                gattawell3@lycos.com         Male    7.8
4     5          Janel Martinet             jmartinet4@google.co.uk       Female    3.2
5     6           Jennie D'Acth                     jdacth5@ibm.com       Female    2.4
6     7             Flossy Hane                    fhane6@webmd.com     Bigender    2.5
7     8              Jorry Offa                      joffa7@soup.io       Female    9.6
8     9           Cathe Benford                  cbenford8@1und1.de   Polygender    8.3
9    10       Roland Blackaller                  rblackaller9@is.gd         Male    4.4
10   11                 Joy Dow           jdowa@theglobeandmail.com       Female    4.7
11   12            Emyle Farman                    efarmanb@fc2.com       Female    7.2
12   13           Regina Stoltz                    rstoltzc@wix.com       Female    5.0
13   14              Gus Wilcot                  gwilcotd@skype.com         Male    4.2
14   15             Dyna Likely                     dlikelye@ed.gov       Female    6.2
15   16          Ruddie Mc Pake                     rmcf@uol.com.br         Male    4.0
16   17        Carny Derrington      cderringtong@printfriendly.com         Male    4.2
17   18        Caprice McIlenna               cmcilennah@seesaa.net       Female    8.8
18   19            Paul Shevlan                pshevlani@flavors.me         Male    9.7
19   20          Theodoric Shee                     tsheej@bing.com         Male    9.7
20   21      Engracia Cranfield           ecranfieldk@indiegogo.com       Female    5.0
21   22           Silvia Pullar                  spullarl@opera.com       Female    6.9
22   23              Flin Roney                    froneym@noaa.gov         Male    4.4
23   24           Erastus Jesse                ejessen@usatoday.com         Male    5.7
24   25      Millicent Elacoate                melacoateo@cisco.com     Bigender    6.5
25   26             Wiatt Elves                     welvesp@mapy.cz         Male    6.9
26   27          Erinna Stonard                  estonardq@dell.com       Female    5.8
27   28        Cristionna Hayen          chayenr@simplemachines.org       Female    2.3
28   29          Seward Spowart                sspowarts@senate.gov         Male    2.4
29   30         Maynord Barwack                   mbarwackt@usa.gov         Male    6.8
30   31           Huberto Patis                      hpatisu@a8.net         Male    1.5
31   32      Alexander Rawkesby            arawkesbyv@posterous.com   Polygender    4.9
32   33         Alain Jurgenson           ajurgensonw@blinklist.com         Male    5.5
33   34         Joellen Gartery           jgarteryx@stumbleupon.com       Female    3.2
34   35         Leigh Kingswood            lkingswoody@amazon.co.jp       Female    9.9
35   36             Robina Thor                  rthorz@t-online.de       Female    2.0
36   37          Merna Gutowska             mgutowska10@example.com       Female    9.9
37   38          Orelie Windrus                owindrus11@state.gov   Non-binary    9.8
38   39            Sloan Greste                   sgreste12@wsj.com         Male    6.1
39   40       Clarice Geraldini               cgeraldini13@admin.ch       Female    6.4
40   41  Sheilakathryn Goshawke           sgoshawke14@123-reg.co.uk       Female    5.6
41   42        Ardith Serginson             aserginson15@rediff.com       Female    8.7
42   43           Becka Belcham             bbelcham16@redcross.org       Female    3.3
43   44        Joelle Skoughman       jskoughman17@reverbnation.com       Female    6.2
44   45        Latrena Gonsalvo             lgonsalvo18@tinyurl.com       Female    1.2
45   46             Augy Camell                    acamell19@gov.uk         Male    5.9
46   47          Candis Kirvell               ckirvell1a@rediff.com       Female    1.5
47   48        Camellia Childes                 cchildes1b@noaa.gov       Female    4.5
48   49           Verna Pimlock                vpimlock1c@wiley.com       Female    8.4
49   50         Chandra Beranek               cberanek1d@flickr.com       Female    6.9
50   51           Alexis Arkell                 aarkell1e@apple.com       Female    9.4
51   52           Auroora Kleen                 akleen1f@uol.com.br     Bigender    8.3
52   53       Briggs Chansonnau         bchansonnau1g@bloglovin.com         Male   10.0
53   54            Gracie Goade                  ggoade1h@ocn.ne.jp       Female    9.6
54   55          Tabatha Burril             tburril1i@blinklist.com       Female    2.8
55   56            Abram Valeri                      avaleri1j@g.co         Male    6.6
56   57         Audrie Trassler           atrassler1k@moonfruit.com       Female    4.8
57   58            Nolly Foster           nfoster1l@statcounter.com         Male    7.9
58   59        Freddy Thomasson        fthomasson1m@photobucket.com       Female    3.6
59   60         Keeley Eskrigge              keskrigge1n@sfgate.com       Female    1.6
60   61         Mickie Verriour           mverriour1o@bigcartel.com       Female    1.7
61   62          Redd Demkowicz            rdemkowicz1p@plala.or.jp         Male    9.7
62   63              Roland Alu                     ralu1q@admin.ch   Non-binary    2.7
63   64         Neel Fullerlove           nfullerlove1r@skyrock.com  Genderfluid    5.5
64   65       Sherwynd Scullard             sscullard1s@myspace.com         Male    4.4
65   66        Matelda Holstein                 mholstein1t@last.fm       Female    4.3
66   67               Ira Smale                 ismale1u@joomla.org       Female    4.1
67   68           Evania Tenney                 etenney1v@google.nl       Female    3.1
68   69             Kerr Corden            kcorden1w@feedburner.com         Male    1.2
69   70            Neal Robison            nrobison1x@parallels.com         Male    2.8
70   71           Adrien Voaden                    avoaden1y@360.cn         Male    3.1
71   72          Bernardo Bucke                    bbucke1z@epa.gov         Male    3.5
72   73           Sydney Atkirk                 satkirk20@fotki.com         Male    5.2
73   74            Grace Derdes                gderdes21@nature.com       Female    9.2
74   75         Nilson Harriday                nharriday22@ning.com         Male    3.8
75   76             Noah Brunet              nbrunet23@google.co.uk         Male    9.5
76   77             Ardra Makey               amakey24@amazon.co.uk   Non-binary    8.5
77   78           Gareth Boodle                  gboodle25@dmoz.org         Male    5.4
78   79            Brand Kelley             bkelley26@wikipedia.org         Male    6.9
79   80               Chan Curm                    ccurm27@live.com         Male    8.6
80   81        Philip Brigstock         pbrigstock28@indiatimes.com         Male    2.9
81   82     Lyndell Osbaldstone  losbaldstone29@cargocollective.com       Female    9.2
82   83      Pernell Vinnicombe             pvinnicombe2a@hc360.com         Male    4.7
83   84       Gallagher Laycock              glaycock2b@cornell.edu         Male    6.0
84   85          Ricard Pascall        rpascall2c@deliciousdays.com   Non-binary    4.8
85   86           Happy Instock            hinstock2d@google.com.au   Non-binary    6.7
86   87           Jinny Vasilov                   jvasilov2e@qq.com  Genderqueer    9.6
87   88     Gaylene Du Plantier                   gdu2f@example.com       Female    2.7
88   89             Wynn Domino             wdomino2g@hostgator.com         Male    3.0
89   90       Barrie Headington               bheadington2h@ucoz.ru         Male    5.5
90   91           Powell Dancey                   pdancey2i@com.com         Male    3.9
91   92             Amara Segoe              asegoe2j@angelfire.com  Genderfluid    9.4
92   93         Melba Penwarden            mpenwarden2k@cbsnews.com       Female    5.8
93   94        Prescott Shillum            pshillum2l@angelfire.com         Male    7.9
94   95             Mano Ridley              mridley2m@e-recht24.de         Male    7.2
95   96        Sarajane Elnaugh                 selnaugh2n@ucsd.edu       Female    4.2
96   97          Blanch Cratere        bcratere2o@sciencedirect.com       Female    7.4
97   98     Barbie Barszczewski      bbarszczewski2p@eventbrite.com       Female    3.5
98   99           Raoul Beacham              rbeacham2q@gizmodo.com         Male    1.7
99  100       Filbert McGifford           fmcgifford2r@sakura.ne.jp         Male    5.9

In [43]:
#print number of rows and columns
print("Total number of rows are: ")
print(student_data.shape)

Total number of rows are:
(100, 5)

In [44]:
# Summary

print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    int64
 1   name    100 non-null    object
 2   email   100 non-null    object
 3   gender  100 non-null    object
 4   grade   100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB
None

In [48]:
#statistics summary
student_data.describe()

               id       grade
count  100.000000  100.000000
mean    50.500000    5.637000
std     29.011492    2.562143
min      1.000000    1.200000
25%     25.750000    3.500000
50%     50.500000    5.500000
75%     75.250000    7.825000
max    100.000000   10.000000

In [51]:
student_data[['id','name','grade']].head()  #Select specific columns

   id               name  grade
0   1     Wanda Ciepluch    5.2
1   2       Darsie Olwen    3.2
2   3        Von Seagood    9.5
3   4  Griswold Attawell    7.8
4   5     Janel Martinet    3.2